li {
    list-style: none;
}

ul {
    padding: 0;
}

main {
    margin-top: 55px;
}

header {
    height: 55px;
}

main,
header {
    margin-left: 60px;
    transition: margin-left 0.3s ease-in-out;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    background-color: #F8FAFC;
}

aside.expand {
    width: 210px;
}

main.expand,
header.expand {
    margin-left: 210px;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

#toggle {
    padding: 15px 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#toggle i {
    color: #475569;
}

aside .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    color: #475569;
    white-space: nowrap;
}

aside .nav-link:hover, 
aside .nav-link.active {
    background-color: #D9EAD3;
    border-left: 3px solid #3CA200;
    color: #3CA200;
    transition: all 0.3s ease-in-out;
}

aside .logo,
aside .description {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
}

aside.expand .logo,
aside.expand .description {
    opacity: 1;
    width: auto;
}